<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
</head>

<body>

<h2>Upload Resume</h2>

<form action="/match_job" method="POST" enctype="multipart/form-data">

    <label>Upload Resume:</label><br>
    <input type="file" name="resume" required><br><br>

    <label>Target Job Role:</label><br>
    <input type="text" name="job_role" placeholder="e.g. Backend Developer" required><br><br>

    <button type="submit">Analyze Job Match</button>

</form>

</body>
</html>